@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgba(221, 51, 51, 0.829);
}

.hide {
  display: none;
}

.navbar-brand {
  width: 5%;
  height: 5%;
}
